<%- include(`../partials/head`) %>
  <title>HRstore</title>
  
  <link rel="stylesheet" href="css/store.css">
  <link rel="stylesheet" href="css/userHeader.css">
  <script src="https://kit.fontawesome.com/3a523928fc.js" crossorigin="anonymous"></script>
 </head>
<body>
  <script src="javascript/store.js"></script>
  <%- include(`../partials/storeHeader`) %>

  <div class="store-tabs-container">
    <!-- Tab Navigation -->
    <nav class="store-tabs">
      <a href="#" class="tab-link" data-tab="new">New Mobiles</a>
      <a href="#" class="tab-link active" data-tab="second">Second-Hand Mobiles</a>
      <a href="#" class="tab-link" data-tab="accessories">Accessories</a>
      
    </nav>
  
    <!-- Sections for each tab -->
    <div class="mobile-sections">
      <section class="mobile-section" data-tab="new">

       <div class="CardSection">
          <% registeredNmobile.forEach(function(Nmobile) { %>
            <div class="MobileCard">

              <a class="detailsOverlay" href="/New/Details/<%= Nmobile._id  %>?from=store">details</a>

              <!-- Top logo and badge -->
              <img class="cardLogo" src="/images/cardLogo1.png" > 
              <div class="statusBadge">New</div>
          
              <!-- Image + Info -->
              <div class="cardContent">
    
                <div class="cardImage">
                 <img src="/uploads/<%= Nmobile.Nimage %>" alt="mobile image" />
                </div>
                     
                <div class="cardDetails">
                  <h3 class="mobileName"><%= Nmobile.Nname %></h3>
                  
                  <div class="priceRow">
                       <p class="mrp">
                         <span class="mrpLabel">MRP:</span>
                         <span class="mrpValue"><s>₹<%= Nmobile.Nmrp %></s></span>
                       </p>
                       <span class="price">₹<%= Nmobile.Nprice %></span>
                     </div>
                      <span class="discount"><%= Nmobile.Ndiscount %>% OFF</span>
                      <div class="priceBuy">
                        <button class="cartBtn"> Add To Cart</button>
                      
                        <button class="buyBtn"><i class="fas fa-shopping-bag"></i> Buy</button>
                      </div>
                    </div>
                  </div>
                </div>
              <% }) %>
            </div>
             
          </section>
        
      

      <section class="mobile-section active" data-tab="second">
        
       <div class="CardSection">
          <% registeredSHmobile.forEach(function(SHmobile) { %>
            <div class="MobileCard">

              <a class="detailsOverlay" href="/Second-Hand/Details/<%= SHmobile._id  %>?from=store">details</a>

              <!-- Top logo and badge -->
              <img class="cardLogo" src="/images/cardLogo1.png" > 
              <div class="statusBadge">Used</div>
      
              <!-- Image + Info -->
              <div class="cardContent">

                <div class="cardImage">
                  <img src="/uploads/<%= SHmobile.SHimage %>" alt="mobile image" />
                </div>
                 
                <div class="cardDetails">
                  <h3 class="mobileName"><%= SHmobile.SHname %></h3>
                  <p class="condition">Condition: <%= SHmobile.condition %></p>
                 <div class="priceRow">
                   <p class="mrp">
                     <span class="mrpLabel">MRP:</span>
                     <span class="mrpValue"><s>₹<%= SHmobile.SHmrp %></s></span>
                   </p>
                   <span class="price">₹<%= SHmobile.SHprice %></span>
                 </div>
                  <span class="discount"><%= SHmobile.SHdiscount %>% OFF</span>
                  <div class="priceBuy">
                    <button class="cartBtn"> Add To Cart</button>
                  
                    <button class="buyBtn"><i class="fas fa-shopping-bag"></i> Buy</button>
                  </div>
                </div>
              </div>
            </div>
          <% }) %>
        </div>
         
      </section>
      
      <section class="mobile-section" data-tab="accessories">
        

        
        <div class="CardSection">
          <% registeredAmobile.forEach(function(accessory) { %>
            <div class="MobileCard">

              <a class="detailsOverlay" href="/Accessory/Details/<%= accessory._id  %>?from=store">details</a>

              <!-- Top logo and badge -->
              <img class="cardLogo" src="/images/cardLogo1.png" > 
              <div class="statusBadge">New</div>
      
              <!-- Image + Info -->
              <div class="cardContent">

                <div class="cardImage">
                  <img src="/uploads/<%= accessory.Aimage %>" alt="mobile image" />
                </div>
                 
                <div class="cardDetails">
                  <h3 class="mobileName"><%= accessory.Aname %></h3>
                 
                 <div class="priceRow">
                   <p class="mrp">
                     <span class="mrpLabel">MRP:</span>
                     <span class="mrpValue"><s>₹<%= accessory.Amrp %></s></span>
                   </p>
                   <span class="price">₹<%= accessory.Aprice %></span>
                 </div>
                  <span class="discount"><%= accessory.Adiscount %>% OFF</span>
                  <div class="priceBuy">
                    <button class="cartBtn"> Add To Cart</button>
                  
                    <button class="buyBtn"><i class="fas fa-shopping-bag"></i> Buy</button>
                  </div>
                </div>
              </div>
            </div>
          <% }) %>
        </div>
              
      </section>
    </div>
  </div>
  
</body>
</html>